[Unit]
Description=Trackmon Server

[Service]
ExecStart=/usr/local/bin/trackmon-server -config=/etc/trackmon-server/trackmonserver.conf

[Install]
WantedBy=multi-user.target
